/***************** KEYFRAMES SECTION *****************/
@keyframes wave {
	from {
		transform: rotateZ(11deg);
	}
	to {
		transform: rotateZ(-11deg);
	}
}

@keyframes bounce {
	from {
		transform: translate(0);
	}
	to {
		transform: translate(8%, -12%);
	}
}

@keyframes opa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
