* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
}

h2 {
  font-size: 3.8rem;
}

h3,
h4 {
  font-size: 2.6rem;
}

/***************** KEYFRAMES SECTION *****************/
@-webkit-keyframes wave {
  from {
    -webkit-transform: rotateZ(11deg);
            transform: rotateZ(11deg);
  }
  to {
    -webkit-transform: rotateZ(-11deg);
            transform: rotateZ(-11deg);
  }
}
@keyframes wave {
  from {
    -webkit-transform: rotateZ(11deg);
            transform: rotateZ(11deg);
  }
  to {
    -webkit-transform: rotateZ(-11deg);
            transform: rotateZ(-11deg);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  to {
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
  to {
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }
}

@-webkit-keyframes light {
  to {
    fill: #fefe33;
  }
}

@keyframes light {
  to {
    fill: #fefe33;
  }
}

@-webkit-keyframes topRightGlobe {
  6% {
    opacity: 0;
  }
  42% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-70%, 20%);
            transform: translate(-70%, 20%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes topRightGlobe {
  6% {
    opacity: 0;
  }
  42% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-70%, 20%);
            transform: translate(-70%, 20%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes topLeftGlobe {
  7% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(60%, 40%);
            transform: translate(60%, 40%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes topLeftGlobe {
  7% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(60%, 40%);
            transform: translate(60%, 40%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes bottomRightGlobe {
  8% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes bottomRightGlobe {
  8% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***************** ICONs AND SOCIAL-ICONS STYLING *****************/
.social-links {
  font-size: 2.5rem;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 2.6rem;
}

.social-links .icons {
  padding: 1.5rem;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.social-links .icons:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

.icons {
  color: #27496d;
}

.icons:hover {
  color: #00909e;
}

/***************** HEADER SECTION *****************/
.home-wrapper {
  background-color: #dce6ef;
  font-family: "Montserrat", sans-serif;
}

.header-nav {
  padding-top: 1rem;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #dce6ef;
  z-index: 10;
}

.header-nav-shadow {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(29, 56, 77, 0.63);
          box-shadow: 0px 0px 5px 5px rgba(29, 56, 77, 0.63);
}

.header {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  padding-left: 2rem;
}

.burger {
  position: relative;
  cursor: pointer;
  display: block;
  margin-left: 1.4rem;
  z-index: 80;
}

.burger span {
  background: #27496d;
  margin: 0.4rem 0;
  display: block;
  border-radius: 0.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.burger span:nth-child(1) {
  padding: 0.1rem 1.6rem;
}

.burger span:nth-child(2) {
  padding: 0.1rem 1.2rem;
  width: 12px;
}

.burger span:nth-child(3) {
  padding: 0.1rem 0.8rem;
  width: 9px;
}

.toggle span:nth-child(1) {
  -webkit-transform: rotateZ(45deg) translateY(350%);
          transform: rotateZ(45deg) translateY(350%);
  background: #dce6ef;
}

.toggle .middle-line {
  width: 0;
  opacity: 0;
}

.toggle span:nth-child(3) {
  -webkit-transform: rotateZ(-45deg) translateY(-500%);
          transform: rotateZ(-45deg) translateY(-500%);
  width: 16px;
  padding: 0.1rem 1.6rem;
  background: #dce6ef;
}

.nav-open {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dark-bg-nav {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
  background-color: rgba(74, 74, 74, 0.9);
}

.dark-bg-active {
  -webkit-animation: opa 0.5s forwards;
          animation: opa 0.5s forwards;
  display: block;
}

.nav-links {
  background-color: #27496d;
  width: 75%;
  height: 100%;
  -webkit-clip-path: polygon(60% 0%, 0 50%, 60% 100%, 100% 100%, 100% 0);
          clip-path: polygon(60% 0%, 0 50%, 60% 100%, 100% 100%, 100% 0);
  position: fixed;
  top: 0;
  left: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.nav-links li {
  margin: 3rem 0;
}

.nav-links a {
  padding: 1rem;
  text-decoration: none;
  line-height: 4rem;
  font-size: 3rem;
  color: #dae1e7;
}

.nav-links a:hover {
  color: #00909e;
}

/***************** HOME SECTION *****************/
.main {
  width: 100%;
  position: relative;
  color: #27496d;
}

.main-wrapper-inner {
  height: 100%;
}

.scene {
  width: auto;
  margin: auto;
  overflow: hidden;
}

.part1-inner {
  width: 100%;
  margin: auto;
  padding-top: 5rem;
  overflow: hidden;
}

.side-text {
  text-align: center;
}

.side-text h2,
.side-text h3,
.side-text h4 {
  margin-bottom: 2.6rem;
}

.side-text h4 {
  font-size: 3rem;
}

.side-text .about {
  width: 70%;
  margin: auto;
  font-size: 1.6rem;
}

.contact-btn {
  padding: 2rem 4rem;
  text-decoration: none;
  background-color: #142850;
  border-radius: 0.5rem;
  color: #dae1e7;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact-btn:hover {
  background-color: #00909e;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.side-image {
  width: 50%;
  margin: 4rem auto;
}

#right-arm {
  -webkit-animation: wave 0.8s linear alternate infinite;
          animation: wave 0.8s linear alternate infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
}

.person {
  overflow: hidden;
  width: 100%;
}

.idea {
  display: none;
}

/***************** PORTFOLIO SECTION *****************/
.part2-inner {
  width: 80%;
  margin: 5rem auto;
  text-align: center;
}

.part2-inner h2 {
  margin: 1rem;
}

.imgs-slide {
  width: 100%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgs {
  width: 85%;
  margin: 1rem;
}

.imgs img {
  opacity: 0.8;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

.imgs img:hover {
  opacity: 1;
}

.description-img {
  display: none;
}

.expandable-text {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.container-img {
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 11px;
}

.container-img img {
  border-radius: 11px 11px 0 0;
}

#infoText {
  background-color: #ffffff;
  border-radius: 0 0 11px 11px;
  padding: 1rem;
}

#infoText h4 {
  font-size: 2rem;
  padding-top: 1rem;
}

#infoText p {
  padding: 1.4rem 2.5rem;
}

#infoText .code-link {
  width: 50%;
  margin: auto;
}

#infoText .code-link .icons {
  margin: 1rem;
  font-size: 3rem;
}

#expandedImg {
  width: 100%;
}

/***************** CONTACT SECTION *****************/
.part3-inner {
  width: 80%;
  margin: 6rem auto;
  height: 100%;
  position: relative;
}

.part3-inner img {
  width: 100%;
  height: 100%;
  opacity: 65%;
}

.contact {
  width: 80%;
  position: absolute;
  padding-top: 1.8rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
}

.contact p {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.message-btn {
  margin-top: 2rem;
  width: 100%;
  padding: 1.5rem 4rem;
  border-radius: 0.5rem;
  background-color: #142850;
  display: inline-block;
  text-decoration: none;
  color: #dae1e7;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.message-btn:hover {
  background-color: #00909e;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/***************** FOOTER SECTION *****************/
footer {
  text-align: center;
  background-color: #142850;
  color: #dae1e7;
}

.footer-content {
  padding: 4rem 0.8rem 6rem;
}

.footer-content h3 {
  font-size: 2.5rem;
}

.footer-content p {
  font-size: 2rem;
  padding: 1rem 0;
}

.footer-content .email-link {
  color: #00909e;
}

.footer-content .email-link:hover {
  color: #f7f7f7;
}

.footer-content .social-links {
  margin-top: 2.6rem;
}

.footer-content .icons {
  color: #dae1e7;
}

.footer-content .icons:hover {
  color: #00909e;
}

.footer-content .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #27496d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content .copyright p {
  font-size: 1.3rem;
  color: #dae1e7;
}

.footer-content #date:before {
  content: ' ';
}

/***************** MEDIA QUERIES SECTION *****************/
@media screen and (min-width: 768px) {
  .header {
    width: 70%;
    margin-left: 5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    max-height: 10vh;
  }
  nav {
    width: 100%;
  }
  .logo {
    width: 60%;
    min-width: 40%;
  }
  .nav-links {
    width: 100%;
    background-color: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: initial;
    -webkit-clip-path: none;
            clip-path: none;
    margin-left: 3rem;
  }
  .nav-links a {
    color: #27496d;
    padding: 2rem;
    font-size: 2rem;
  }
  .burger {
    display: none;
  }
  .scene {
    height: 100%;
    width: 100%;
  }
  /***************** HOME SECTION *****************/
  .part1-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding-top: 0;
    height: 85vh;
  }
  .side-text {
    width: 50%;
    height: auto;
  }
  .side-text h2,
  .side-text h3,
  .side-text h4 {
    font-size: calc(3rem + 1vw);
  }
  .side-text .about {
    font-size: calc(0.6rem + 1vw);
    line-height: 3.2rem;
  }
  .side-image {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .person {
    display: inline-block;
    width: 40%;
  }
  #idea {
    -webkit-animation: bounce linear 1s alternate infinite;
            animation: bounce linear 1s alternate infinite;
  }
  #lamp #outer-shine,
  #lamp #right-line,
  #lamp #left-line,
  #lamp #swiggle {
    -webkit-animation: light linear 1.2s alternate infinite;
            animation: light linear 1.2s alternate infinite;
  }
  #top-right-globe {
    -webkit-animation: topRightGlobe linear 2.3s infinite;
            animation: topRightGlobe linear 2.3s infinite;
  }
  #top-left-globe {
    -webkit-animation: topLeftGlobe linear 2.1s infinite;
            animation: topLeftGlobe linear 2.1s infinite;
  }
  #bottom-right-globe {
    -webkit-animation: bottomRightGlobe linear 2.5s infinite;
            animation: bottomRightGlobe linear 2.5s infinite;
  }
  .idea {
    display: inline-block;
    width: 59%;
  }
  /***************** PROJECTS SECTION *****************/
  .part2-inner {
    height: 100%;
    width: 90%;
  }
  .part2-inner h2 {
    margin: 4rem;
  }
  .img-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .imgs-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    width: 20%;
  }
  .container-img {
    width: 80%;
    height: 100%;
  }
  /***************** CONTACTS SECTION *****************/
  .part3-inner {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .part3-inner img {
    width: 60%;
    opacity: initial;
  }
  .contact {
    position: unset;
    -webkit-transform: initial;
            transform: initial;
    width: 35%;
    max-width: 40.6rem;
  }
  .contact p {
    font-size: calc(0.5rem + 1vw);
    line-height: 2.5rem;
  }
  /***************** FOOTER SECTION *****************/
  .scene + .part4 {
    height: 40vh;
  }
}

@media screen and (min-width: 760px) {
  .nav-links {
    width: 65%;
  }
  .nav-open {
    -webkit-clip-path: polygon(50% 0%, 0 50%, 50% 100%, 100% 100%, 100% 0);
            clip-path: polygon(50% 0%, 0 50%, 50% 100%, 100% 100%, 100% 0);
  }
}
/*# sourceMappingURL=style.css.map */